	body {
		
		margin:0;

	}
	.bg {
		background-color: #444444;	
		
	}	

	.li1  {
			border-right: 1px solid #000;
			display: inline-block;
			color: #FFF ;
			padding: 10px 20px 10px 20px;
		
	}

	a{
		color: #fff;
		text-decoration: none;
	}